<ion-header>
  <ion-toolbar>
    <ion-title>Mostrar Usuário</ion-title>
      <ion-buttons slot="primary">
        <ion-back-button text="Voltar" icon="" color="tertiary" fill="outline"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Detalhes</ion-card-subtitle>
      <ion-card-title>{{nomeUsuario}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{descricaoUsuario}}
    </ion-card-content>
  </ion-card>

</ion-content>
